<%- include('partials/head')%> <%- include('partials/mynavbar')%>
<div class="container">
  <div class="card">
    <div class="card-content">
      <% results.forEach(function(result, index){ %>
      <div class="column">
        <p>Dice <%= index + 1 %></p>
        <p><%= result %></p>
      </div>
      <% }); %>
    </div>
  </div>

  <div class="total-score is-primary is-half">
    <h1 class="">Total score</h1>
    <p class=""><%= total %></p>
  </div>
  <a class="btn btn-primary is-primary" href="./test">Play again</a>
</div>

<%- include('partials/footer')%>
